* {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

#home {
  background-image: url("../images/wedding_couple.jpg");
  height: 100vh;
  background-size: cover;
  filter: grayscale(50%);
}

.home-container {
 width: 30%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 9%;
}

.home-p2 {
  color: white;
  font-size: 30px;
  width: 90%;
  margin: auto;
  text-align: center;
  margin-top: -60px;
}

.home-p3 {
  color: white;
  font-family: sans-serif;
  font-size: 30px;
  margin: auto;
  text-align: center;
  margin-top: 10px;
  font-weight: bolder;
}

.jj-hm {
  font-weight: lighter;
  font-size: 64px;
  font-family: Raleway, sans-serif;
  color: #fff;
  text-align: center;
}

.jane-container1 {
  filter: grayscale(50%);
  background-color: #fdd;
  padding-bottom: 80px;
}

.jane-container2 {
  max-width: 900px;
  margin: auto;
}

.jane-container2 h3 {
  text-align: center;
  margin-top: 85px;
  margin-bottom: 45px;
  color: gray;
  font-size: 35px;
}

.jane-container2 img {
  filter: grayscale(50%);
}

.jane-container2 p {
  margin-top: 40px;
  font-style: italic;
  line-height: 30px;
}

.jane-btn {
  margin-left: 40%;
  margin-top: 30px;
  border: none;
  padding: 15px;
  font-size: 18px;
  border-radius: 5px;
  color: white;
  background-color: black;
}

.jane-btn:hover {
  color: black;
  background-color: #ccc;
}

/* section3 */

.section3-container {
  background-image: url("../images/flowers.jpg");
  min-height: 650px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  filter: grayscale(5%);
}

.section3-container h1 {
  color: white;
  font-size: 60px;
}

.section3-container p {
  color: white;
  font-size: 35px;
}

/* Wedding */

.wedding-container1 {
  background-color: #fdd;
  filter: grayscale(60%);
}

.wedding-container2 {
  max-width: 900px;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.wedding-container2 h1 {
  font-size: 35px;
  color: gray;
}

.wedding-container2 img {
  margin-top: 50.5px;
}

.wedding-container3 {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding-bottom: 120px;
}

.wedding-container3 span {
  font-size: 25px;
}

/* RSVP */

.rsvp-container1 {
  background-color: #fdd;
  padding-bottom: 50px;
  padding-top: 50px;
}

.rsvp-container2 {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.rsvp-container2 h1 {
  font-size: 35px;
}

.rsvp-container2 p {
  font-size: 20px;
}

.rsvp-btn {
  border: none;
  color: white;
  padding: 20px 60px;
  background-color: #f44336;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 30px;
  border-radius: 5px;
  opacity: 0.7;
}

.rsvp-btn:hover {
  color: black;
  background-color: grey;
}

/* footer */

.footer-container1 {
  color: white;
  background-color: black;
  text-align: center;
  padding: 20px;
  margin-bottom: 15px;
}

.footer-container1 a {
  color: white;
}

.nav-container a {
  text-decoration: none;
  color: black;
  padding: 5px 55px;
}

.footer-container1 a:hover {
  color: green;
}

/* Navbar */

.nav-container {
  display: flex;
  justify-content: space-around;
  background-color: white;
  opacity: 0.75;
  padding-top: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 15px;
}

.nav-container:hover {
  opacity: 1;
}

.nav-a1:hover {
  background-color: gray;
}

.nav-a2:hover {
  color: white;
  background-color: #000;
}

@media only screen and (max-width: 425px) {
  .jane-container2 {
    margin: 30px;
  }

  .jane-container2 img {
    width: 100%;
  }

  .jane-btn {
    margin-left: 20%;
  }

  .nav-container {
    display: none;
  }

  .wedding-container2 {
    max-width: 900px;
    margin: 15px;
  }

  .wedding-container3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .wedding-space {
    margin-top: 25px;
  }

  .wedding-container2 img {
    margin-top: 40px;
    width: 100%;
    border-radius: 15px;
  }
}
